*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --size-unit: 64px;
    --size-unit--big: 128px;
    --ships-animation-time: 200ms;
    --explosion-animation-time: 600ms;
    --secondary-color: #510303;
}

body{
    font-family: 'Lato',
    sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
}

.information{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 32px;
    z-index: 2;
    position: relative;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.modal__content{
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal__text {
    text-align: center;
    font-size: 42px;
}

.modal__button {
    margin: 0 auto;
    height: 256px;
    width: 256px;
    background-image: url('../Spaceship_art_pack/MenuScreen/play_buttons.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-position: 0 0;
    background-size: cover;
    outline: none;
    transition:all 0.2s ease-in;
}

.modal__button:hover {
    background-image: url('../Spaceship_art_pack/MenuScreen/play_buttons_pressed_blue.png');
}

.spaceship{
    background-image: url('../images/ship.png');
    width: var(--size-unit);
    height: var(--size-unit); 
    animation: moveShip var(--ships-animation-time) steps(8) infinite;
    position: fixed;    
}

.enemy {
    background-image: url('../images/enemy.png') ;
    width: var(--size-unit);
    height: var(--size-unit);
    animation: moveEnemy var(--ships-animation-time) steps(5) infinite;
    position: fixed;
    z-index: 1;
}

.enemy--big {
    background-image: url('../images/enemy-big.png');
    width: var(--size-unit--big);
    height: var(--size-unit--big);
    animation: moveEnemyBig var(--ships-animation-time) steps(8) infinite;
    position: fixed;
}

.explosion {
    background-image: url('../images/explosion.png');
    width: var(--size-unit);
    height: var(--size-unit);
    animation: moveExplosionSmall var(--explosion-animation-time) steps(17) forwards;
    position: fixed;
}

.explosion--big {
    background-image: url('../images/explosion-big.png');
    width: var(--size-unit--big);
    height: var(--size-unit--big);
    animation: moveExplosionBig var(--explosion-animation-time) steps(17) forwards;
    position: fixed;
}

.missile{
    background-image: url('../images/missile.png');
    background-size: cover;
    width: 12px;
    height: 24px;
    position: absolute;
}

.hide {
    display: none;
}

.hit{
    background-color: var(--secondary-color);
}

@keyframes moveShip {
    from{
        background-position-x: 0px;
    }

    to{
        background-position-x: calc(var(--size-unit)* -8);
    }
}

@keyframes moveEnemy {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: calc(var(--size-unit)* -5);
    }
}

@keyframes moveEnemyBig {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: calc(var(--size-unit--big)* -8);
    }
}

@keyframes moveExplosionSmall {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: calc(var(--size-unit)* -17);
    }
}

@keyframes moveExplosionBig {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: calc(var(--size-unit--big)* -17);
    }
}